@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    display: none;
}
html::-webkit-scrollbar {
    display: none;
}
.fc-view-harness::-webkit-scrollbar {
    display: none;
}
.fc-view-harness-active::-webkit-scrollbar {
    display: none;
}
.fc-scroller::-webkit-scrollbar {
    display: none;
}
.fc-scroller-liquid-absolute::-webkit-scrollbar {
    display: none;
}
.recent-records-box::-webkit-scrollbar {
    display: none;
}